		/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
		/*Reset*/
*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	outline: none;
    font-family: 'Roboto', sans-serif;		
}
html{
	scroll-behavior: smooth;
}
html,body{
	height: 100%;
	font-size: 10px;
}
a{text-decoration: none;color: initial;}
		/*auxiliares*/
.container{
	max-width: 96rem;
	margin: 0 auto;
	padding: 0 2%;
}
		/*Site*/

		/*header*/
.header-wrapper{
	width: 100%;
	padding: 3rem 0;
	min-height: 70rem;
	background-image: url('../images/bg_01.png');
	background-size: cover;
}
header{
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.logo{
	position: relative;
	top: -.5rem;
	width: 16.4rem;
	height: 6.2rem;
	background-image: url('../images/logo.png');
	background-size: 100% 100%;
}
.navegacao{
	font-size: 1.8rem;
}
.navegacao ul{
	list-style-type: none;
}
.navegacao li{
	display: inline-block;
	margin: 0 1rem;
	color: white;
	transition: .3s;
}
.navegacao li a{
	color: inherit;
}
.navegacao li.selected{
	position: relative;
	color: #509d87;
}
.selected span{
	transition: .3s;
}
li.selected span{
	position: absolute;
	bottom: -.2rem;
	left: 0;
	width: 50%;
	height: .3rem;
	background-color: #509d87;	
}
.telefone-header{
	position: relative;
	top: -.5rem;
}
.telefone-header span{
	color: white;
	font-size: 2.5rem;
}
.divider-line{
	border-bottom: .3rem solid rgba(71, 83, 88,.2);
	padding-bottom: 2.3rem;
	width: 100%;
}

.conteudo-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 5rem 0;
}
.textos-conteudo{
	width: 50%;
}
.textos-conteudo h2{
	color: #509d87;
	font-weight: normal;
	font-size: 3.7rem;

}
.textos-conteudo p{
	margin: 1.5rem 0;
	font-size: 1.5rem;
}
.formulario-conteudo input{
	display: inline-block;
	margin: .5rem 0;
}
.formulario-conteudo input[type=email]{
	width: 25.1rem;
	height: 5rem;
	border: .1rem solid #ccc;
	border-radius: 60rem;
	padding-left: 1.5rem;
	color: #ccc;
}
.formulario-conteudo input[type=submit]{
	background-color: #00daaa;
	color: white;
	cursor: pointer;
	border: 0;
	height: 5rem;
	padding: 0 3rem;
	border-radius: 3rem; 
	font-size: 1.4rem;
}
.formulario-conteudo input[type=submit]:hover{
	opacity: .8;
}
.textos-conteudo span{
	color: #509d87;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	display: block;
}
.paineis-conteudo{
	width: 48%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.paineis-conteudo img{
	width: 50%;
	padding: .5rem;
}
	/*Beneficios*/
#beneficios > .container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 6rem;
}
.single-beneficio{
	width: 33.3%;
	padding: 2.5rem 1rem;
}
.single-beneficio img{
	max-width: 100%;
}
.single-beneficio h3{
	color: black;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 1.5rem 0;
}
.single-beneficio h3 > span{
	color:#7dd5b0;
	font-weight: bold;
}
.single-beneficio p{
	color: #2d2d2d;
	font-size: 1.4rem;
}
	/*Sobre*/

#sobre > .container{
	max-width: 128rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
.sobre-img{
	width: 50%;
}
.sobre-img img{
	max-width: 100%;
}
.sobre-conteudo{
	width: 50%;
	padding: 1rem 5rem;
}
.sobre-conteudo h2{
	font-weight: normal;
	color: #a9c4b8;
	font-size: 3rem;
}
.sobre-conteudo h2 span{
	color: #03ca9f;
	font-weight: bold;
}
.sobre-conteudo p{
	margin: 1rem 0;
	color: #2d2d2d;
	font-size: 1.6rem;
}
	/*depoimento*/
#depoimento{
	padding-top: 20rem;
	padding-bottom: 15rem;
	background-image: url('../images/bg_02.png');
	background-size: cover;
	text-align: center;
	color: #2d2d2d;
	position: relative;
	top: -8rem;
	z-index: 2;
}
#depoimento h2{
	font-size: 2.9rem;
	font-weight: lighter;
}
#depoimento p{
	margin-top: .5rem;
	font-size: 1.5rem;
}
	/*etapas*/

#etapas{
	padding: 2rem 0;
}
#etapas > h2{
	text-align: center;
	color: #3b3e42;
	font-weight: lighter; 
	font-size: 2.4rem;
	padding: 0 1rem;
}
#etapas > h2 > b{
	color: #03ca9f;
}
#etapas > .container{
	display: flex;
	max-width: 120rem;
	padding: 4rem 2%;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.painel-etapas{
	width: 50%;
}
.img-wrapper-etapas{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.img-wrapper-etapas:nth-child(2){
	justify-content: flex-end;
}
.img-wrapper-etapas img{
	max-width: 90%;
	display: inline-block;
}
.img-wrapper-etapas:nth-child(1) img{
	max-width: 50%;
}
.img-wrapper-etapas figcaption{
 	display: inline-block;
 	margin-left: 1rem;
 	color: #509d87;
 	font-size: 1.6rem;
}
.cards-etapas{
	width: 50%;
}
.single-etapa{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 4rem;
	padding: 0 3rem;
}
.circle{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: .1rem solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.circle span{
/*	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(-50%,-50%);*/
	font-size: 3rem;
	font-weight: normal;
	color: #03ca9f;
}
.circle .line{
	position: absolute;
	width: .1rem;
	height: 4rem;
	background-color: #ccc;
	bottom: -4.1rem;
}
.descricao-etapas{
	width: calc(100% - 10rem);
	padding: 0 2rem;
}
.descricao-etapas h3{
	color: #03ca9f;
	font-weight: normal;
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.descricao-etapas p{
	color: #2d2d2d;
	font-weight: lighter;
	font-size: 1.4rem;
}

	/*Responsivo*/
@media screen and (max-width: 950px){
	.painel-etapas{
		display: none;
	}
	.cards-etapas{
		width: 100%;
	}
	.single-etapa{
		align-items:center; 
	}
}
@media screen and (max-width: 900px){
	/*header*/
	.desktop{
		display: none;
	}
	.header-wrapper{
		min-height: 100vh;
	}
	.textos-conteudo{
		width: 100%;
		text-align: center;
	}
	.paineis-conteudo{
		display: none;
	}
	/*beneficio*/
	.single-beneficio{
		width: 50%;
		text-align: center;
	}
	/*sobre*/
	.sobre-img{
		width: 100%;
	}
	.sobre-conteudo{
		width: 100%;
		text-align: center;
	}
	/*depoimento*/
	#depoimento{
		top: 0;
	}
}
@media screen and (max-width: 500px){
	/*beneficio*/
	.single-beneficio{
		width: 100%;
	}
	/*etapas*/
	.circle{
		width: 8rem;
		height: 8rem;
	}
	.circle .line{
		display: none;
	}	
	.single-etapa{
		padding: 0;
	}
	.descricao-etapas{
		width: calc(100% - 8rem);
		padding: 0 0 0 2rem;
	}
	.descricao-etapas p{
		text-align: justify;
	}
}